[submodule "what"]
	path = what
	url = git@github.com:benjojo/what.git
[submodule "OhLord."]
	path = OhLord.
	url = git@github.com:benjojo/what.git
[submodule "OhRight"]
	path = OhRight
	url = git@github.com:benjojo/what.git
